ALLOWED_EXTENSIONS = ['jpeg', 'png', 'jpg', 'h264', 'mp4']
UPLOAD_DIR = '/tmp/upload'
SERVER_NAME = 'https://server.com'
APIKEY = 'apikey'
S3_BUCKET = 'bucket'
S3_FOLDER = 'folderinbucket'
AWS_ACCESS_KEY = 'KEY'
AWS_SECRET_KEY = 'SECRET'
PUBLISHED = False
THUMBNAIL = 800, 600
CLOUDFRONT = None
SOCKETIO_SERVER = 'http://localhost'
SOCKETIO_PORT = 5000
REDIS_DB = 0
