<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>PYBOSSA file uploader</title>
  <meta name="description" content="PYBOSSA file-uploader">
  <meta name="author" content="Scifabric">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <section id="fileuploader" class="section">
        <file-uploader></file-uploader>
    </section>
</body>

   <script src="/static/js/fileuploader.min.js?44b5d61735d7f332d305"></script>

</html>
